section.page.group
  h2(data-hook="group-name")

  p
    a.btn.btn-primary(data-hook="team-generator-url") Generate
    | random teams of
    input(type="number", min="2", step="1", data-hook="team-size")

  ul.list-group(data-hook="people")
