section.page.group
  h2(data-hook="group-name")

  p(data-hook="team-generator")
    a.btn.btn-primary(data-hook="team-generator-url") Generate
    | random teams of
    input(type="number", min="2", step="1", data-hook="team-size")

  ul.list-group(data-hook="people")

  form.input-group(data-hook="new-person")
    input.form-control(type="text", placeholder="Add new person", data-hook="new-person-name")
    span.input-group-btn
      button.btn.btn-primary(type="submit", data-hook="new-person-add") Add
